#fondo{
    -fx-background-image:url("https://historia.nationalgeographic.com.es/medio/2020/12/14/ajedrez-chino_4621e867_1280x853.jpg");
    -fx-background-size: 100%;
}
#fondo2, #fondo3, #fondo4{
    -fx-background-image:url("https://img2.rtve.es/v/5859769?w=1600&preview=1618995578695.jpg");
    -fx-background-size: 120%;
}

#btmsalida, #btmIniciar, #btmAplicar, #btmCancelar, #btmDesca, #btmModifica, #btmPremio, #btmReset, #btmVolver, #btmTrans{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

#btmTablaA, #btmTablaB{
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.colorButTab{
    -fx-background-color: white;
}

.mantener{
    -fx-background-color: grey;
}

#btmsalida:hover, #btmIniciar:hover, #btmAplicar:hover, #btmCancelar:hover, #btmDesca:hover, #btmModifica:hover, #btmPremio:hover, #btmReset:hover, #btmTablaA:hover, #btmTablaB:hover, #btmVolver:hover, #btmTrans:hover{
    -fx-background-color: #cdcdcd;
}

#btmsalida:pressed, #btmIniciar:pressed, #btmAplicar:pressed, #btmCancelar:pressed, #btmDesca:pressed, #btmModifica:pressed, #btmPremio:pressed, #btmReset:pressed, #btmTablaA:pressed, #btmTablaB:pressed, #btmVolver:pressed, #btmTrans:pressed{
    -fx-background-color: grey;
}




