/*
#fondo{
    -fx-background-image:url("https://historia.nationalgeographic.com.es/medio/2020/12/14/ajedrez-chino_4621e867_1280x853.jpg");
    -fx-background-size: 900px;
    -fx-background-repeat:no-repeat;
}
#fondo2{
    -fx-background-image:url("https://img2.rtve.es/v/5859769?w=1600&preview=1618995578695.jpg");
    -fx-background-size: 600px;
}

#fondo4{
    -fx-background-image:url("https://estaticos-cdn.elperiodico.com/clip/2507aac0-4919-46ab-955d-e8edcf8e1323_alta-libre-aspect-ratio_default_0.jpg");
    -fx-background-size: 900px;
    -fx-background-repeat:no-repeat;
}

 */
