#fondo{
    -fx-background-image:url("ajedrezchino.jpg");
    -fx-background-size: 100%;
}
#fondo2, #fondo3, #fondo4, #fondo5{
    -fx-background-image:url("tablero.jpeg");
    -fx-background-size: 120%;
}

#btmsalida, #btmIniciar, #btmAplicar, #btmCancelar, #btmDesca, #btmModifica, #btmPremio, #btmReset, #btmVolverM, #btmTransA, #btmVolverA, #btmVolverB, #btmTransB, #btmVolverT {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

#btmTablaA, #btmTablaB, #btnTA, #btnTB{
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.colorButTab{
    -fx-background-color: white;
}

.mantener{
    -fx-background-color: #aaaaaa;
}

#btmsalida:hover, #btmIniciar:hover, #btmAplicar:hover, #btmCancelar:hover, #btmDesca:hover, #btmModifica:hover, #btmPremio:hover, #btmReset:hover, #btmTablaA:hover, #btmTablaB:hover, #btmVolverT:hover, #btmVolverM:hover, #btmVolverA:hover, #btmVolverB:hover, #btmTransA:hover, #btmTransB:hover, #btnTA:hover, #btnTB:hover, #btmBuscar:hover {
    -fx-background-color: #8a8a8a;
}

#btmsalida:pressed, #btmIniciar:pressed, #btmAplicar:pressed, #btmCancelar:pressed, #btmDesca:pressed, #btmModifica:pressed, #btmPremio:pressed, #btmReset:pressed, #btmTablaA:pressed, #btmTablaB:pressed, #btmVolverT:pressed, #btmVolverM:pressed, #btmVolverA:pressed, #btmVolverB:pressed, #btmTransA:pressed, #btmTransB:pressed, #btnTA:pressed, #btnTB:pressed, #btmBuscar:pressed{
    -fx-background-color: #aaaaaa;
}




